In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

/home/abhishek/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/abhishek/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/abhishek/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/abhishek/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/abhishek/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
dataset = pd.read_excel('Linear Regression.xlsx', sheet_name=0)
dataset.head()

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3       1.00     1.0
1  538000         2570         3       2.25     2.0
2  180000          770         2       1.00     1.0
3  604000         1960         4       3.00     1.0
4  510000         1680         3       2.00     1.0

In [3]:
dataset.isna().sum()

price          0
sqft_living    0
bedrooms       0
bathrooms      0
floors         0
dtype: int64

In [8]:
dataset = dataset.drop_duplicates()

In [10]:
Y = dataset['price']
Y.head()

0    221900
1    538000
2    180000
3    604000
4    510000
Name: price, dtype: int64

In [12]:
X = dataset.drop(['price'], axis=1)
X.head()

   sqft_living  bedrooms  bathrooms  floors
0         1180         3       1.00     1.0
1         2570         3       2.25     2.0
2          770         2       1.00     1.0
3         1960         4       3.00     1.0
4         1680         3       2.00     1.0

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_trian, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
linearReg = LinearRegression()

In [19]:
linearReg.fit(x_trian, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
yPred = linearReg.predict(x_test)
yPred

array([257862.48781105, 472164.83738645, 768829.10980286, ...,
       642011.58166702, 738979.09359544, 344856.9529801 ])

In [21]:
# Performance Analysis
from sklearn.metrics import r2_score, mean_squared_error

In [23]:
RMSE = np.sqrt(mean_squared_error(y_test, yPred))

In [24]:
r_square = r2_score(y_test, yPred)

In [25]:
print("Root mean square error : ", RMSE)
print("r square value : ", r_square)

Root mean square error :  252165.64670278894
r square value :  0.5023011821904801

### Inferenes
RMSE is very high for the model suggesting there is a large error in the predicted and the actual value.

r square value is 50% suggesting the regression model is not a good fit.