In [1]:
import pandas as pd 
import numpy as np

## Loading Dataset

In [2]:
dataset = pd.read_csv("general_data.csv")

In [3]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

## Encoding Categorical colums from strings to int

In [5]:
# To make catagories of the string columns
from sklearn import preprocessing

In [6]:
le = preprocessing.LabelEncoder()

In [7]:
dataset["Attrition"] = le.fit_transform(dataset["Attrition"])

In [8]:
dataset["BusinessTravel"] = le.fit_transform(dataset["BusinessTravel"])

In [9]:
dataset["Department"] = le.fit_transform(dataset["Department"])

In [10]:
dataset["EducationField"] = le.fit_transform(dataset["EducationField"])

In [11]:
dataset["Gender"] = le.fit_transform(dataset["Gender"])

In [12]:
dataset["MaritalStatus"] = le.fit_transform(dataset["MaritalStatus"])

In [13]:
dataset["JobRole"] = le.fit_transform(dataset["JobRole"])

In [14]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [15]:
dataset1 = dataset.drop(['EmployeeCount', 'EmployeeID', 'Over18', 'StandardHours'], axis=1)

In [16]:
dataset1.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

## Random Forest

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
dataset1 = dataset1.dropna()

In [19]:
dataset1 = dataset1.drop_duplicates()

In [20]:
rf_model = RandomForestClassifier(n_estimators=1000, max_features=2, oob_score=True)

In [21]:
features = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager']

In [22]:
rf_model.fit(X=dataset1[features], y=dataset1["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
print("OOB Accuracy : ")
print(rf_model.oob_score_)

OOB Accuracy :
0.8421768707482993

In [24]:
for feature, imp in zip(features, rf_model.feature_importances_):
    print(feature," ", imp)

Age   0.09759821357591182
BusinessTravel   0.027773095973938615
Department   0.02640721205450892
DistanceFromHome   0.06951456791425317
Education   0.04099064367614858
EducationField   0.04136069322314937
Gender   0.018535050415911535
JobLevel   0.036748272176573483
JobRole   0.054721273716451926
MaritalStatus   0.040160117684756136
MonthlyIncome   0.09371922401921169
NumCompaniesWorked   0.05659816777841499
PercentSalaryHike   0.06516104678844904
StockOptionLevel   0.03379342159598474
TotalWorkingYears   0.08517805887297994
TrainingTimesLastYear   0.04386290916597367
YearsAtCompany   0.068612159629433
YearsSinceLastPromotion   0.044340093084980145
YearsWithCurrManager   0.054925778652969236

- Age, MonthlyIncome, TotalWorkingYears are imp features
- max_depth = 3(imp features)*2

## Decision Tree

In [25]:
from sklearn import tree

In [26]:
tree_model = tree.DecisionTreeClassifier(max_depth=6, max_leaf_nodes=10)

In [27]:
predictors = pd.DataFrame([dataset1["Age"], dataset1["MonthlyIncome"], dataset1["TotalWorkingYears"]]).T

In [28]:
tree_model.fit(X=predictors, y=dataset1["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [29]:
with open("Dtree1.dot", 'w') as f:
    f = tree.export_graphviz(tree_model, feature_names=["Age", "MonthlyIncome", "TotlaWorkingYears"], out_file=f)

<img src="dtree1.png" width=600 height=600 />

In [34]:
tree_model.score(X=predictors, y=dataset1['Attrition'])

0.8578231292517007